page-matches {
    p,
    ion-select,
    button,
    fieldset {
        margin: 10px 0;
    }

    ion-item.select-courts {
        padding-left: 0;
    }

    button.shuffle {
        margin-left: 0;
    }

    fieldset {
        height: 160px;
        margin-bottom: 25px;
        padding-top: 0;
        padding-bottom: 5px;
        width: 160px;

        &.bench {
            border: none;
            padding-left: 0;
        }

        ion-list.list {
            margin-bottom: 11px;

            ion-item.item {
                min-height: unset;

                ion-label.label {
                    margin-bottom: 0;
                }
            }
        }
    }
}