<ion-header>
    <ion-navbar>
        <ion-title>Paarungen</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <p>Anzahl ausgewählte Spieler: {{selectedPlayers.length}}</p>

    <ion-item no-lines class="select-courts">
        <ion-select [(ngModel)]="numberOfCourts">
            <ion-option [value]="1">1 Platz</ion-option>
            <ion-option [value]="2">2 Plätze</ion-option>
            <ion-option [value]="3">3 Plätze</ion-option>
            <ion-option [value]="4">4 Plätze</ion-option>
        </ion-select>
    </ion-item>

    <br><button ion-button (click)="shuffle()" class="shuffle">Shuffle!</button>

    <fieldset *ngFor="let i of courts">
        <legend>Platz {{i + 1}}</legend>
        <ion-list no-lines>
            <ion-item *ngFor="let player of getPlayersPerCourt(i)">
                {{player.name}} <img *ngIf="player.benched" class="benched" src="../../assets/icon/bench.png"/>
            </ion-item>
        </ion-list>
    </fieldset>

    <fieldset *ngIf="playersForBench.length" class="bench">
        <legend>Bank</legend>
        <ion-list no-lines>
            <ion-item *ngFor="let player of playersForBench">
                {{player.name}} <img *ngIf="player.benched" class="benched" src="../../assets/icon/bench.png"/>
            </ion-item>
        </ion-list>
    </fieldset>
</ion-content>