page-matches {
    p,
    ion-select,
    button,
    fieldset {
        margin: 10px 0;
    }

    ion-item.select-courts {
        padding-left: 0;
    }

    button.shuffle {
        margin-left: 0;
    }

    fieldset {
        height: 225px;
        margin-bottom: 25px;
        padding-top: 0;
        padding-bottom: 5px;
        width: 225px;

        &.bench {
            border: none;
            padding-left: 0;

            ion-list.list ion-item.item {
                margin-top: 0;
            }
        }

        .benched {
            width: 16px;
            vertical-align: middle;
        }

        ion-list.list {
            margin-bottom: 11px;

            ion-item.item {
                margin-top: 12px;
                min-height: unset;
                padding-left: 0;

                ion-label.label {
                    margin-bottom: 0;
                    padding-right: 16px;
                }
            }
        }
    }
}